<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FOODEX - Daily Fresh Homemade Food</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS
        ================================================ -->
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<!-- Font-awesome.min css -->
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="static/css/animate.min.css">

	<link rel="stylesheet" href="static/css/main.css">
	<!-- Responsive Stylesheet -->
	<link rel="stylesheet" href="static/css/responsive.css">
	<!-- Js -->
	<script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
	<script>
		window.jQuery || document.write('<script src="static/js/vendor/jquery-1.10.2.min.js"><\/script>')
	</script>
	<script src="static/js/jquery.nav.js"></script>
	<script src="static/js/jquery.sticky.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/plugins.js"></script>
	<script src="static/js/wow.min.js"></script>
	<script src="static/js/main.js"></script>
</head>

<body>
	<!--
	header-img start 
	============================== -->
	<section id="hero-area">
		<img class="img-responsive" src="static/images/header.jpg" alt="">
	</section>
	<!--
    Header start 
	============================== -->
	<nav id="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
										data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#">
										<img src="static/images/logo2.png" alt="Logo">
									</a>

								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right" id="top-nav">
										<li><a href="#hero-area">Home</a></li>
										<li><a href="#about-us">About us</a></li>
										<li><a href="#price">Menu</a></li>
										<li><a href="#contact-us">Contact us</a></li>									
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.container-fluid -->
						</nav>
					</div>
				</div><!-- .col-md-12 close -->
			</div><!-- .row close -->
		</div><!-- .container close -->
	</nav><!-- header close -->
	<!--
    Slider start
    ============================== -->
	<section id="slider">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="title">
							<h3>Featured <span>Works</span></h3>
						</div>
						<div id="owl-example" class="owl-carousel">
							<div>
								<img class="img-responsive" src="static/images/slider/slider-img-1.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="static/images/slider/slider-img-2.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="static/images/slider/slider-img-3.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="static/images/slider/slider-img-4.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="static/images/slider/slider-img-1.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="static/images/slider/slider-img-2.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="static/images/slider/slider-img-3.png" alt="">
							</div>
							<div>
								<img class="img-responsive" src="static/images/slider/slider-img-4.png" alt="">
							</div>

						</div>
					</div>
				</div><!-- .col-md-12 close -->
			</div><!-- .row close -->
		</div><!-- .container close -->
	</section><!-- slider close -->
	<!--
    about-us start
    ============================== -->
	<section id="about-us">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="static/images/cooker-img.png"
							alt="cooker-img">
						<h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
							<span>FOODEX</span> </br>  Fresh Homemade Food <span>Daily</span>
						</h1>
						<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">We provide freshly cooked homemade food daily
							for working persons. We sell quality with taste. The food is cooked in an extremely hygienic environment
							where quality standards are maintained.<br>
						</p>
					</div>
				</div><!-- .col-md-12 close -->
			</div><!-- .row close -->
		</div><!-- .containe close -->
	</section><!-- #call-to-action close -->
	<!--
    price start
    ============================ -->
	<section id="price">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">our
							<span>MENU</span> the <span>PRICE</span></h1>
						<div class="pricing-list">
							<div class="title">
								<h3>Our<span> Specials</span></h3>
							</div>
							<ul>
								<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
									<div class="item">
										<div class="item-title">
											<h2>Chicken Biryani</h2>
											<div class="border-bottom"></div>
											<span>1kg Rs.1200   1/2kg Rs.700</span>
										</div>
									</div>
								</li>
								<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
									<div class="item">
										<div class="item-title">
											<h2>Chicken Pulao</h2>
											<div class="border-bottom"></div>
											<span>1kg Rs.1100   1/2kg Rs.650</span>
										</div>
									</div>
								</li>
								<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
									<div class="item">
										<div class="item-title">
											<h2>Chicken Karahi White </h2>
											<div class="border-bottom"></div>
											<span>1kg Rs.1400   1/2kg Rs.900</span>
										</div>
									</div>
								</li>
								<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
									<div class="item">
										<div class="item-title">
											<h2>Mutton Karahi Red</h2>
											<div class="border-bottom"></div>
											<span>1kg Rs.2500   1/2kg Rs.1400</span>
										</div>
									</div>
								</li>
								<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="700ms">
									<div class="item">
										<div class="item-title">
											<h2>Beef Biryani</h2>
											<div class="border-bottom"></div>
											<span>1kg Rs.1800   1/2kg Rs.1000</span>
										</div>
									</div>
								</li>
								<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
									<div class="item">
										<div class="item-title">
											<h2>Custard</h2>
											<div class="border-bottom"></div>
											<span>1kg Rs.600</span>
										</div>
									</div>
								</li>
							</ul>
							<p><a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms"
								href="{{ url_for('login') }}" role="button">Full Menu</a></p>
						</div>
					</div>
				</div><!-- .col-md-12 close -->
			</div><!-- .row close -->
		</div><!-- .containe close -->
	</section><!-- #price close -->

	<!--
    CONTACT US  start
    ============================= -->
	<section id="contact-us">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">Your
							<span>FEEDBACK MATTERS</span></h1>
						<h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Provide your Feedback
							 </h3>
						<form action="#contact-us" method="POST">
							<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
								<input type="text" class="form-control" id="exampleInputEmail1"
									placeholder="Write your full name here..." name="name">
							</div>
							<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
								<input type="email" class="form-control" placeholder="Write your email address here..." name="email">
							</div>
							<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
								<textarea class="form-control" rows="3" placeholder="Write your message here..." name="msg"></textarea>
							</div>							
							<button value="Submit" type="submit" id="submit" name="submit" class="btn btn-danger" data-wow-duration="500ms" data-wow-delay="1300ms" style="border-radius: 200px;">Send your message</button>							
						</form>													
						
					</div>
				</div><!-- .col-md-12 close -->
			</div><!-- .row close -->
		</div><!-- .container close -->
	</section><!-- #contact-us close -->
	<!--
    footer  start
    ============================= -->
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="block wow fadeInLeft" data-wow-delay="200ms">
						<h3>CONTACT <span>INFO</span></h3>
						<div class="info">
							<ul>
								<li>
									<h4><i class="fa fa-phone"></i>Telefone</h4>
									<p>0315-2737882 , 03322FOODEX</p> 

								</li>
								<li>
									<h4><i class="fa fa-map-marker"></i>Address</h4>
									<p>55 C jami commerical 6 Phase 7 Dha , Karachi Lines, Pakistan</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- .col-md-4 close -->
				<div class="col-md-4">
					<div class="block wow fadeInLeft" data-wow-delay="1100ms">
						<div class="gallary">
							<h3>PHOTO <span>STREAM</span></h3>
							<ul>
								<li>
									<a href="http://127.0.0.1:5000/product"><img src="static/images/photo/photo-1.jpg" alt=""></a>
								</li>
								<li>
									<a href="http://127.0.0.1:5000/product"><img src="static/images/photo/photo-2.jpg" alt=""></a>
								</li>
								<li>
									<a href="http://127.0.0.1:5000/product"><img src="static/images/photo/photo-3.jpg" alt=""></a>
								</li>
								<li>
									<a href="http://127.0.0.1:5000/product"><img src="static/images/photo/photo-4.jpg" alt=""></a>
								</li>
							</ul>
						</div>
						<div class="social-media-link">
							<h3>Follow <span>US</span></h3>
							<ul>
								<li>
									<a href="https://www.youtube.com/@foodexbyhina3843">
										<i class="fa fa-youtube"></i>
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/foodexofficial/">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- .col-md-4 close -->
			</div><!-- .row close -->
		</div><!-- .containe close -->
	</section><!-- #footer close -->
	<!--
    footer-bottom  start
    ============================= -->
	<footer id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="block">
						<p>Copyright &copy; 2022 - All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>